* {
    padding: 0;
    margin: 0;
    outline: none;
    vertical-align: baseline;
    border-style: none;
}

html, body {
    height: 100svh;
    width: 100%;
    background-color: #010129;
    display: grid;
    place-items: center;

    h1 {
        color: rgb(130, 222, 130);
        font-family: "Nunito Sans", sans-serif;
    }
}